---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import { WORKOUTS } from "../data/workouts";

// This is baked in for now.



// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div id="workout-container" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
		{Object.entries(WORKOUTS).map(([name, exercises]) => (
			<div id="workout-card" class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition-shadow duration-300" onclick={
				`window.location.href = '/${name.toLowerCase().replace(/ /g, "-")}'`
			}>
				<h2 class="text-xl font-bold mb-3 text-gray-800">{name}</h2>
				<div id="workout-details" class="text-gray-600">
					<p class="mb-2"><span class="font-semibold">Exercises:</span> {exercises.length}</p>
					<p><span class="font-semibold">Equipment:</span> {[...new Set(exercises.map(ex => ex.equipment).filter(Boolean))].join(', ')}</p>
				</div>
			</div>
		))}
	</div>
</Layout>
